body {
margin-top: 70px; /*pushes the "Weight converter heading down from the top of the page" */
background-image: url('https://images.unsplash.com/photo-1506368083636-6defb67639a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80');
max-width: 100%;
height: auto;
background-position: center center;
/* background: #333; */
color: black;
}

/* h1 styling  */
h1.display-2.text-center.mb-3{
  text-shadow: 1px 1px 2px gray;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  h1.display-2.text-center.mb-3{
    text-shadow: 1px 1px 2px gray;
    font-size: 4.5rem;
  }
  }
@media (max-width: 768px) {
  h1.display-2.text-center.mb-3{
    text-shadow: 1px 1px 2px gray;
    font-size: 3.5rem;
  }

}
@media (max-width: 576px) {
  h1.display-2.text-center.mb-3{
    text-shadow: 1px 1px 2px gray;
    font-size: 2.5rem;
  }
}
